*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-family: 'poppins', sans-serif;
}

body{
    background: rgba(112, 96, 45, 0.829);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}